/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
body{
  background-image: url('images/space.jpg');
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: 'Bungee', cursive;
}

img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
}

p {
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  height: 80vh;
}

.box .primary .question{
 padding: 2rem;
}

.primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
}

.title{
  padding: 33.33% 0 33.33% 0;
  width: 100%;
}

.banner{
  text-align: center;
  background-color: gold;
  font-size: 4vw;
}

.question{
  text-align: center;
  font-size: 4.5vw;
  background-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 2.5% !important;
}

.submit {
  font-size: 4vw;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 5%;
}

button {
  text-align: center;
}

.answer {
  font-size: 7vw;
  background-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.start {
  font-size: 4vw;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 2%;
  background-color: gold;
}

.restart {
  font-size: 4vw;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 5%;
  margin-top: 5%;
  background-color: greenyellow;
}

.counters {
  font-size: 4vw;
  display: flex;
  flex-direction: row;
  background-color: gold;
  justify-content: space-evenly;
}

.correct {
  background-color: greenyellow;
}

.incorrect {
  background-color: red;
}

.next {
  font-size: 4vw;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 5%;
}

input {
  display: flex;
  align-content: center;
}

.endscreen {
  font-size: 9vw;
  text-align: center;
}

@media all and (min-width: 800px){
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .box{
    width: 100%;
    height: 100%;
  }

  .banner h1{
    font-size: 150%;
  }


  .question{
   font-size: 200%;
  }

  .submit {
    font-size: 150%;
  }

  .counters {
    font-size: 150%;
  }

  .answer {
    font-size: 300%;
  }

  .restart{
    font-size: 300%;
  }

 .banner{
 display: flex;
 justify-content: center;
 }

}