/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
body{
  background-image: url('images/space.jpg');
}

.box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.banner{
  text-align: center;
  background-color: gold;
  font-size: 4vw;
}

.question{
  text-align: center;
  font-size: 7vw;
  background-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 30%;
}

.submit {
  display: flex;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 30%;
}

.answer {
  font-size: 7vw;
  background-color: gold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 60%;
}

.start {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60%;
  margin-bottom: 80%;
  width:30%;
}

.restart {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 30%;
}

.counters {
  display: flex;
  flex-direction: row;
  background-color: red;
  margin-top: 10%;
  justify-content: space-evenly;
}

.correct {
  background-color: greenyellow;
}