/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

.primary {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.banner{
  background-color: gold;
}

.question{
  font-size: 7vw;
  background-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30%;
  width: 100%;
}

.submit {
  width: 30%;
}

.start {
  width:30%;
  margin: 60%;
}

.counters {
  display: flex;
  flex-direction: row;
  background-color: red;
  margin: none;
  justify-content: center;
}